.box {
  width: 800px;
  height: 100px;
  padding: 50px;
  font-size: 40px;
}

#b1 {
  background: rgb(226, 223, 223);
  border: 5px solid rgb(99, 99, 99);
  position: static;
}

#b2 {
  background: rgb(130, 252, 74);
  border: 5px solid rgb(32, 68, 9);
  position: absolute;
  bottom: 50px;
  right: 30px;
}

#b3 {
  background: rgb(74, 101, 252);
  border: 5px solid rgb(23, 3, 114);
  position: relative;
  top: 80px;
  left: 100px;
  z-index: 100;
}

.box_mini {
  width: 200px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
}

#b4 {
  background: rgb(235, 16, 16);
  border: 3px solid rgb(82, 7, 7);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#b5 {
  background: rgb(248, 33, 158);
  border: 5px solid rgb(102, 3, 61);
  position: sticky;
  top: 50px;
  left: 50px;
  z-index: 1;
}

#b6 {
  background: rgb(67, 255, 208);
  border: 5px solid rgb(11, 94, 83);
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 10;
}